{%extends 'layout.html'%}

{%block content %}

<h1> The Summarizer </h1>

<p>Use the following AI tool to summarize an industry of your choice in the context of finance so you can make informed decisions in the market</p>
<form method = "POST" class = 'topic' action = "/submit_text">
    <label for = "topic_Chosen" >Please choose an Industry</label>
    <input type = "text" id = "topic_Chosen" name = "chosenTopic" required><br>
    
    <label for = "experience_Level" >Please choose your experience level (beginner, intermediate, advanced)</label>
    <input type = "text" id = "experience_Level" name = "experienceLevel" required><br>
    <button type="submit"> Submit </button>
</form>

<h2> Interested in recieving a daily summary via Email?</h2>

<form method = "POST" class = 'email' action = "/submit_email">

    <label for = "email_Chosen" >Please enter your email</label>
    <input type = "email" id = "email_Chosen" name = "chosenEmail" required><br>

    <label for = "topic_Chosen" >Please choose an Industry</label>
    <input type = "text" id = "topic_Chosen_email" name = "chosenTopic_email" required><br>

    <label for  = "experience_Level_email" >Please choose your experience level (beginner, intermediate, advanced)</label>
    <input type = "text" id = "experience_Level_email" name = "experienceLevel_email" required><br>

    <label for = "time_Chosen" >Please choose a time to recieve the email (in 24 hour format, e.g. 14:00 for 2pm)</label>
    <input type = "text" id = "time_Chosen" name = "chosenTime" required><br>

    <label for = "frequency_Chosen" >Please choose a frequency for the email (daily, weekly, monthly)</label>
    <input type = "text" id = "frequency_Chosen" name = "chosenFrequency" required><br>
    

    <button type="submit"> Submit </button>
</form>

{%endblock%}